<header>
    <div class="logo">
        HOPESTONE Construction
    </div>
    <div class="toggle">

    </div>
    <div class="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/register">Dashboard</a></li>
        </ul>
        <div class="social-bar">
            <ul>
                <li><a href="http://facebook.com">
                        <img src="/static/image/facebook.png" alt="facebook" target="_blank">
                    </a>
                </li>
                <li><a href="http://twitter.com">
                        <img src="/static/image/twitter.png" alt="facebook" target="_blank">
                    </a>
                </li>
                <li><a href="http://instagram.com">
                        <img src="static/image/instagram.png" alt="facebook" target="_blank">
                    </a>
                </li>
            </ul>
            <a href="mailto:onceacurious@gmail.com" class="email-icon">
                <img src="static/image/email.png" alt="email">
            </a>
        </div>
        <!-- <section class="landing">
            <img src="/static/image/mycircle.svg" alt="dots">
        </section> -->
    </div>
</header>