{% extends 'layout.html'%}
{% block title %}Building Your Dreams{% endblock%}
{% block body%}
<section class="home">
    <img src="/static/media/cover2.jpg" class="home-image" alt="">
    <div class="home-content">
        <h1>Building your Dreams!</h1>
        <p>
            We are a registered construction company providing services such as <strong>Planning and Design, Building
                Construction, Renovation, Electrical, Electronics, Plumbing, Mechanical </strong>and <strong> other
                services
            </strong>.
        </p>
        <a href="/contact" class="btn">Let's Talk</a>
    </div>
</section>
{% endblock%}