{% extends 'layout.html' %}
{% block title %}Register{% endblock %}

{% block body %}
<section>
    <img src="/static/media/building.png" class="auth-image" alt="building_bg">
    <div class="register">
        <div class="register-box">
            <img src="/static/image/user.png" class="register_icon" alt="register_icon">
            <h1>Registration</h1>
        </div>
        <div class="register-form">
            {% from "includes/_formhelpers.html" import render_field %}
            <form method="POST" action="">
                <div class="row">
                    <div class="input50">
                        {{ render_field(form.name, placeholder="Name", type="text") }}
                    </div>
                    <div class="input50">
                        {{ render_field(form.contact, placeholder="Contact", type="tel") }}
                    </div>
                </div>
                <div class="input100">
                    {{ render_field(form.email, placeholder="Email Address", type="email") }}
                </div>
                <hr>
                <div class="input100">
                    {{ render_field(form.userName, placeholder="Username", type="text") }}
                </div>
                <div class="row">
                    <div class="input50">
                        {{ render_field(form.password, placeholder="Password" , type="password") }}
                    </div>
                    <div class="input50">
                        {{ render_field(form.confirm, placeholder="Confirm Password", type="password") }}
                    </div>
                </div>
                <div class="row">
                    <div class="input50">
                        <p><input type="submit" value="Submit"></p>
                    </div>
                    <div class="input50">
                        <p><input type="button" value="Login"></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}