{% extends 'layout.html' %}
{% block title %}Services{% endblock%}
{% block body%}
<section>
    <div class="title">
        <h1>We offer!</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates dolor ad explicabo facilis
            expedita quia nam eum excepturi vero porro cupiditate quasi, aliquam delectus labore sequi id ipsum
            autem ipsam molestias est reprehenderit eligendi quibusdam! Quis officiis est dicta pariatur, ullam
            sed minima ducimus. Eveniet, nulla assumenda. Itaque, aliquid! Voluptatem.
        </p>
    </div>
    <div class="services">

        {% for service in services -%}
        <div class="service">
            <a href="service/{{ service.title | lower }}">
                <div class="icon">
                    <img src="static/image/{{ service.file_name }}" alt="{{ service.title | lower}}_icon">
                </div>
                <h2>{{ service.title }}</h2>
                <p>{{ service.body }}</p>
            </a>
        </div>
        {%- endfor %}

    </div>
</section>
{% endblock %}