{% extends 'layout.html' %}
{% block title %}Work{% endblock%}
{% block body%}
<section>
    <div class="title">
        <h1>Our finest work</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates dolor ad explicabo facilis
            expedita quia nam eum excepturi vero porro cupiditate quasi, aliquam delectus labore sequi id ipsum
            autem ipsam molestias est reprehenderit eligendi quibusdam! Quis officiis est dicta pariatur, ullam
            sed minima ducimus. Eveniet, nulla assumenda. Itaque, aliquid! Voluptatem.
        </p>
    </div>
    <div class="portfolio">
        <div class="item">
            <img src="static/image/portfolio-item1.jpg" alt="">
            <div class="action">
                <a href="#">Lunch</a>
            </div>
        </div>
        <div class="item">
            <img src="static/image/portfolio-item2.jpg" alt="">
            <div class="action">
                <a href="#">Lunch</a>
            </div>
        </div>
        <div class="item">
            <img src="static/image/portfolio-item3.jpg" alt="">
            <div class="action">
                <a href="#">Lunch</a>
            </div>
        </div>
        <div class="item">
            <img src="static/image/portfolio-item4.jpg" alt="">
            <div class="action">
                <a href="#">Lunch</a>
            </div>
        </div>
        <div class="item">
            <img src="static/image/portfolio-item5.jpg" alt="">
            <div class="action">
                <a href="#">Lunch</a>
            </div>
        </div>
        <div class="item">
            <img src="static/image/portfolio-item6.jpg" alt="">
            <div class="action">
                <a href="#">Lunch</a>
            </div>
        </div>
        <div class="item">
            <img src="static/image/portfolio-item7.jpg" alt="">
            <div class="action">
                <a href="#">Lunch</a>
            </div>
        </div>
        <div class="item">
            <img src="static/image/portfolio-item8.jpg" alt="">
            <div class="action">
                <a href="#">Lunch</a>
            </div>
        </div>
        <div class="item">
            <img src="static/image/portfolio-item9.jpg" alt="">
            <div class="action">
                <a href="#">Lunch</a>
            </div>
        </div>
        <div class="item">
            <img src="static/image/portfolio-item10.jpg" alt="">
            <div class="action">
                <a href="#">Lunch</a>
            </div>
        </div>
        <div class="item">
            <img src="static/image/portfolio-item11.jpg" alt="">
            <div class="action">
                <a href="#">Lunch</a>
            </div>
        </div>
        <div class="item">
            <img src="static/image/portfolio-item12.jpg" alt="">
            <div class="action">
                <a href="#">Lunch</a>
            </div>
        </div>
        <div class="item">
            <img src="static/image/portfolio-item13.jpg" alt="">
            <div class="action">
                <a href="#">Lunch</a>
            </div>
        </div>
        <div class="item">
            <img src="static/image/portfolio-item14.jpg" alt="">
            <div class="action">
                <a href="#">Lunch</a>
            </div>
        </div>
        <div class="item">
            <img src="static/image/portfolio-item15.jpg" alt="">
            <div class="action">
                <a href="#">Lunch</a>
            </div>
        </div>
        <div class="item">
            <img src="static/image/portfolio-item16.jpg" alt="">
            <div class="action">
                <a href="#">Lunch</a>
            </div>
        </div>
    </div>

    </div>
</section>
{% endblock %}